body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

.sidebar_header_link {
    text-decoration: none;
}

.section {
    margin-top:10px;
    padding-top: 75px;
}

#contact {
    margin-bottom: 215px;
}

.images img {
    width: 100%;
    cursor: pointer;
}


@media (max-width:600px){
    #team img {

    }
}
@media (min-width:601px){
    #team img {
        max-height: 150px;
    }
}
@media (min-width:800px){
    #team img {
        max-height: 200px;
    }
}
@media (min-width:993px){
    #team img {
        max-height: 150px;
    }
}
@media (min-width:1205px){
    #team img {
        max-height: 200px;
    }
}
@media (min-width:1400px){
    #team img {
        max-height: 250px;
    }
}
@media (min-width:1600px){
    #team img {
        max-height: 300px;
    }
}